* {
    box-sizing: border-box;
}
:root{
/*colors*/
--primary-color: #00022e;
--secondary-color: #2e5984;
--third-color: #000000;
--white:#ffffff;
--gray: #fafafa
/*fonts*/
--primary-font: 'Noto Sans SC', sans-serif;
--primary-weight: 400;
--secondary-weight: 600;
--base: 16px;
--headers: 20px;
}
body {
    background-color: white;
    color: var(--third-color);
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: var(--primary-weight);
    font-size: var(--base);
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
}
h1{
    text-align: center;
    color: #3b4cca;
    padding: 10px;

}
.pokemon-list{
    padding: 10px;
    list-style-type: none;
    width: 100%;
}
.button { /*resume button*/
    /* overwrites browser defaults and resets the border */
    border: 1px solid #ff0000;
    font-family: inherit;
    background-color: #fafafa;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
    width: 100%;
}

.button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    border: 3px solid #ff0000;
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    text-transform:uppercase;
    font-weight: 600;
}
.additional-information {
  display: none;
}
.additional-information.is-visible {
  display: block;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 140px;
    display: block;
    background-color: white;
    z-index: 1;
}
.page-header{
    display: flex;
    width: 100%;
    padding: 20px;
      z-index: 1;
}
/* .navbar{
  position: fixed;
  /* top: 0; */
  /* width: 100%;
  height: 60px;
  display: flex;
  margin-left: 0;
  background-color: white;
  z-index: 1;
/* } */
.pokemon-group{
  margin-top: 140px;
    z-index: 2;
}
.navbar-brand{
  padding: 10px;
}
.container{
  padding: 20px;
}
.btn {
  border: 1px solid #ff0000;
  width: 50%;
  padding: 2px;
}

.btn:hover {
  border: 3px solid #ff0000;
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
/* #modal-container { */
/*
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
*/

  /* to show it above other content */
/*  z-index: 999; */

  /* to allow scrolling if the screen is not high enough*/
/*  overflow: auto; */

  /* this is used to center the modal */
/*
  display: grid;
  text-align: left;
*/
}

/*
.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 15;
}


.modal p {
  margin-bottom: 10;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
   CSS for modal container - add your own desired CSS styles here
  display: block;
}
*/
