* {
    box-sizing: border-box;
}
:root{
/*colors*/
--primary-color: #00022e;
--secondary-color: #2e5984;
--third-color: #000000;
--white:#ffffff;
--gray: #fafafa
/*fonts*/
--primary-font: 'Noto Sans SC', sans-serif;
--primary-weight: 400;
--secondary-weight: 600;
--base: 16px;
--headers: 20px;
}
body {
    background-color: var(--white);
    color: var(--third-color);
    font-family: var(--primary-font);
    font-weight: var(--primary-weight);
    font-size: var(--base);
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
} 

.button { /*resume button*/
    /* overwrites browser defaults and resets the border */
    border: var(--primary-color);
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #bfcbd2;
    color: var(--pimary-color);
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-right: 2px solid rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

.button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}
.additional-information {
  display: none;
}
.additional-information.is-visible {
  display: block;
}